@use "../abstracts/variables" as v;

.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: v.$default-font-size;

    // change for <button> element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(v.$color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(v.$color-black, 0.2);
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    transition: all 0.4s;
  }

  &--white {
    background-color: v.$color-white;
    color: v.$color-grey-dark-1;

    &::after {
      background-color: v.$color-white;
    }
  }

  &--green {
    background-color: v.$color-primary;
    color: v.$color-white;

    &::after {
      background-color: v.$color-primary;
    }
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: v.$default-font-size;
    color: v.$color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid v.$color-primary;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    background-color: v.$color-primary;
    color: v.$color-white;
    box-shadow: 0 1rem 2rem rgba(v.$color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba(v.$color-black, 0.15);
    transform: translateY(0);
  }
}
